@use "../abstracts/breakpoints";

.catalog-intro {
  padding-block: var(--space-48) var(--space-32);
}

.catalog-categories {
  padding-bottom: var(--space-32);
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-24);
  padding-bottom: var(--space-64);
  list-style: none;

  > li {
    &:nth-child(n + 4) {
      display: none;
    }
  }

  @include breakpoints.above-tablet {
    grid-template-columns: repeat(2, 1fr);

    > li {
      &:nth-child(n + 4) {
        display: list-item;
      }
      &:nth-child(n + 7) {
        display: none;
      }
    }
  }

  @include breakpoints.above-desktop {
    grid-template-columns: repeat(3, 1fr);

    > li {
      &:nth-child(n + 7) {
        display: list-item;
      }
      &:nth-child(n + 10) {
        display: none;
      }
    }
  }
}

.catalog-show-more {
  display: flex;
  justify-content: center;
  padding-bottom: var(--space-64);
}
