@use "../abstracts/breakpoints";

.plant-notes {
  padding-block: var(--space-48);

  @include breakpoints.above-desktop {
    padding-block: var(--space-64);
  }
}

.plant-notes__header {
  margin-bottom: var(--space-32);
}

.plant-notes__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-24);

  @include breakpoints.above-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoints.above-desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}
